*{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 1000px;
}
#menu{
    list-style: none;
    background-color: black;
    color: white;
    padding: 15px;
    display: flex;
   
}
.galeria{
    background-repeat: none;
    background-size:  cover;
    background-position: center;
    background-size: 100%;
    margin: 0 ;
    padding: 0;
    display: flex;
    align-items: top;
    justify-content: center;
    opacity: 0.5;
    

    
}
#Suporte-btn{
    color: white;
    border-radius: 15px;
    padding: 15px;
    text-decoration: none;
    

}
#Suporte-btn:hover{
    background-color: green;
    color: white;
}
#botao{
    position: absolute;
    top: 15px;
    right: 15px
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.882);
    color: white;
    font-family: 'poppinsblack', sans-serif;
    padding: 0px; /* ajuste conforme necessário */
    text-align: center;
}